/* Estilos generales */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #E8EBEF;
    background-color: #040200;
}

/* Navegación */
nav {
    background-color: rgba(4, 2, 0, 0.9);
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFF07E;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #BF5D03;
}

/* Sección principal con imagen de fondo */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero img.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .overlay {
    background: rgba(4, 2, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    color: #FFF07E;
    margin: 0;
}

.hero p {
    font-size: 22px;
    color: #E8EBEF;
}

/* From Uiverse.io by bociKond */ 
.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    
  }
  
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form input[type="email"],
  .form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
  }
  
  .form input[type="email"]:focus,
  .form input[type="password"]:focus {
    outline: 2px solid var(--clr);
  }
  
  .label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
  }
  
  .form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
  }
  
  .span a {
    color: var(--clr);
  }
  

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(4, 2, 0, 0.9);
    color: #FFF07E;
}
